@font-face { 
    font-family: "SFPro";
    src: url('../fonts/SFProDisplay-Regular.woff') format("woff"), 
         url('../fonts/SFProDisplay-Regular.woff2') format("woff2");
   font-weight: 400;
}
@font-face { 
    font-family: "SFPro";
    src: url('../fonts/SFProDisplay-Regular.woff') format("woff"), 
         url('../fonts/SFProDisplay-Regular.woff2') format("woff2");
   font-weight: 500;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');