* {
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
   color: #000;
}
li {
   list-style: none;
}

.wrapper {
   max-width: 1225px;
   margin: 0 auto;

}

$red: #D2001C;
$SFPro: 'SFPro';
$OS: 'Open Sans';